body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.navbar {
    background: linear-gradient(to right, #144f8a, #000121);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    margin: 0;
    padding: 0;
    display: block;
    height: 60px;
    width: 50px;
    position: relative;
    top: 10px;
}

.menu {
    display: flex;
}

.menu_item {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.menu_item:hover {
    background-color: #1e90ff;
    color: #fff;
}

.login_btn {
    background-color:  rgb(253, 152, 0);
    color: #ffffff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 0px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.login_btn:hover {
    background-color: #1e90ff;
    color:  white;
    border: 1px solid rgb(253, 152, 0);
    font-weight: bold;
}



.divider {
    color: #fff;
    padding: 0 10px;
    position: relative;
    top: 8px;
}



.pkg_main{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.container{
    display: block;

    width: 1200px;
    height: fit-content;
    color: #144f8a;
    padding: 40px 0px;
    margin-top: 50px;
}
.guides-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.guide-profile {
    background-color: #fff;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 100%;
    height: auto;
    border-radius: 10px;
    height: 250px;
}

button {
    background-color:#1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color:#144f8a;
}
.hireBtn{
    text-align: center;
    margin: 0px 130px;
}

.popup-form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-container {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color:#1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color:#144f8a;

}

/**footer**/
.footer{
    display: flex;
    background-color: #070707;
    margin: 0;
    color: white;
    height:fit-content;
    align-content: center;
    justify-content: center;
}

.link_hp li{
    list-style: none;
    position: relative;
    right: 40px;
    
}

.link_hp li a{
    text-decoration: none;
    color: white;
}

.link_hp li a:hover{
    font-size: 18px;
}

.logo_link{
    text-align: right;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer_contact{
    position: relative;
    margin-right: 140px;
    margin-left: 50px;

}

.footer_container{
    padding: 20px 240px;
    display: flex;
    align-content: center;
}

.footer_link{
    display: inline;
   margin-right: 150px;
}

.footer_div{
    display: inline-flex;
    margin-right: 0px;
    float: right;
}
.footer_logos{
    width: 36px;
    height: 30px;
}
.why{
    text-align: right;
}

.copyrightn{
    text-align: center;
    background-color: #070707;
    color: white;
    margin: 0;
    padding: 20px;
    display: block;    
}