body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}


.navbar {
    background: linear-gradient(to right, #144f8a, #000121);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    margin: 0;
    padding: 0;
    display: block;
    height: 60px;
    width: 50px;
    position: relative;
    top: 10px;
}

.menu {
    display: flex;
}

.menu_item {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.menu_item:hover {
    background-color: #1e90ff;
    color: #fff;
}

.login_btn {
    background-color:  rgb(253, 152, 0);
    color: #ffffff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 0px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.login_btn:hover {
    background-color: #1e90ff;
    color:  white;
    border: 1px solid rgb(253, 152, 0);
    font-weight: bold;
}



.divider {
    color: #fff;
    padding: 0 10px;
    position: relative;
    top: 8px;
}

.container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin:20px 100px;
}
.container2{
    display:block;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 40px 100px;
    text-align: center;
}
h4{
    font-weight: 400;
    position: relative;
    bottom: 40px;
}
.sign_up{
    margin-top: 50px;
    padding-top: 50px ;
    height: 320px;
    width: 800px;
    background-color:rgb(230, 230, 230) ;
    border: none;
    border-radius: 30px;
    text-align: center;
    

}
.sign_up h3{
    color:#144f8a;
    margin-top: 10px;
    position: relative;
    bottom: 10px;
    font-size: 28px;
}
.foam1{
    width: 350px;
    height: 20px;
    padding: 10px;
    border: 2px solid rgb(186, 186, 186) ;
    border-radius: 20px;
}
.password1{
    position: relative;
    top: 30px;
}
.login1{
    background-color:#1e90ff;
    color:white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 60px;
}
.login1:hover{
    background-color: #144f8a;
}
.register1{
    background-color:#1e90ff;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 13px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    bottom: 40px;
}
.reg_page {
    text-decoration: none;
    color: white;
}

.register1:hover{
    background-color:#144f8a;
}
/**footer**/
.footer{
    display: flex;
    background-color: #070707;
    margin: 0;
    color: white;
    height:fit-content;
    align-content: center;
    justify-content: center;
}

.link_hp li{
    list-style: none;
    position: relative;
    right: 40px;
    
}

.link_hp li a{
    text-decoration: none;
    color: white;
}

.link_hp li a:hover{
    font-size: 18px;
}

.logo_link{
    text-align: right;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer_contact{
    position: relative;
    margin-right: 140px;
    margin-left: 50px;

}

.footer_container{
    padding: 20px 240px;
    display: flex;
    align-content: center;
}

.footer_link{
    display: inline;
   margin-right: 150px;
}

.footer_div{
    display: inline-flex;
    margin-right: 0px;
    float: right;
}
.footer_logos{
    width: 36px;
    height: 30px;
}
.why{
    text-align: right;
}

.copyrightn{
    text-align: center;
    background-color: #070707;
    color: white;
    margin: 0;
    padding: 20px;
    display: block;    
}